html, body {
    height: 100%;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7ff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    padding: 12px 30px;
    color: white;
}

.navbar nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #667eea;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    animation: fadeIn 1.5s ease;
}

.hero h1 {
    font-size: 36px;
    color: #1f2937;
}

.hero p {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
}

.box {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    animation: slideUp 1s ease;
}

.box:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

footer {
    text-align: center;
    background: #1f2937;
    color: white;
    padding: 15px;
    margin-top: auto; /* IMPORTANT */
}


@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes slideUp {
    from {opacity: 0; transform: translateY(40px);}
    to {opacity: 1; transform: translateY(0);}
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}